.productDetail {
	display: flex;
	flex-direction: column;
	width: 30rem;
}

.detailLabel {
	margin-top: 1rem;
}

.update {
	margin-top: 1rem;
}

.errorMessages {
	display: flex;
	flex-direction: column;
	margin-top: 1rem;
}

.error {
	color: red;
}