.tableWrapper {
	width: 80%;
	margin: 1rem auto;
}

.filterSection {
	display: flex;
	flex-direction: column;
	text-align: left;
	margin-bottom: 1rem;
}

.colorFilter {
	margin-bottom: 0.25rem;
}

.colorFilterLabel {
	margin-left: 0.5rem;
}

.table {
	width: 100%;
	text-align: left;
}